@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-zinc-50 text-zinc-900 dark:bg-gray-900 dark:text-neutral-100;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: blueviolet;
}

::selection {
  color: white;
  background: blueviolet;
}

h1 {
  font-family: BioRhyme, Arial;
  margin: 30px;
  @apply tracking-wide font-black subpixel-antialiased text-center bg-clip-text text-transparent bg-gradient-to-r from-red-900  via-indigo-500  to-red-700 dark:from-red-200 dark:via-indigo-400 dark:to-red-400;
}

h2 {
  color: white;
}

input {
  @apply bg-gray-100 dark:bg-gray-800;
}

.event-title {
  cursor: pointer;
  font-weight: 750;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
}

.event-date {
  font-style: italic;
  margin-left: auto;
  margin-right: 5px;
  @apply text-gray-600 dark:text-gray-100;
}

.cancelled-event {
  text-decoration: line-through;
  @apply cursor-not-allowed italic;
}

.code {
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: Jetbrains Mono;
  height: 100%;
  @apply text-gray-800 dark:text-gray-300;
}

#map {
  height: 10px;
  width: 10px;
}

.events-list-row {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  @apply dark:text-zinc-400 cursor-default py-2 px-4 mx-2 my-1 font-semibold rounded-lg shadow-lg hover:bg-slate-100 dark:hover:bg-slate-800 hover:animate-pulse;
}

.active {
  @apply border-0;
}

.modal {
  @apply cursor-pointer;
}

.eventsList {
  @apply flex-auto	items-stretch content-evenly;
}

.search-input {
  @apply cursor-text py-2 px-4 mx-2 my-1 font-semibold rounded-lg shadow-lg focus:outline-none;
}

.calendar-cursor {
  @apply cursor-pointer;
}

.month-name {
  @apply cursor-not-allowed italic;
}
.toggle {
  @apply border-2 border-double border-indigo-600 dark:border-indigo-900;
}

.input-map {
  @apply w-full rounded border border-gray-300 dark:border-gray-900 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 dark:ring-indigo-900 text-base outline-none  py-1 px-3 leading-8;
}

.modal-section {
  position: fixed;
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  /* left: 0; */
  /* top: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  @apply text-gray-600 m-10 rounded-xl bg-white dark:bg-gray-800 border-2 border-x-indigo-200 dark:border-indigo-800 border-opacity-60 rounded-lg overflow-hidden top-10;
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
}

.modal-close {
  position: fixed;
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  right: 0;
  top: 0;
}

.modal-container {
  @apply container px-5 py-12 mx-auto flex flex-wrap;
}

.modal-header {
  @apply flex flex-col text-center w-full mb-9;
}

.modal-header-h1 {
  @apply text-lg mb-1 font-medium;
}

.modal-p {
  @apply lg:w-2/3 mx-auto leading-relaxed text-base;
}

.modal-full-row {
  @apply flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end;
}

.modal-label-input {
  @apply relative flex-grow w-full;
}

.modal-label {
  @apply leading-7 text-sm text-gray-600;
}

.modal-input {
  @apply block w-full px-3
  py-1.5 text-base font-normal text-gray-700 rounded transition
  ease-in-out focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.modal-save {
  @apply py-2 flex-auto h-11 text-white bg-indigo-500 border-0 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg;
}

.modal-cancel {
  @apply py-2 flex-auto h-11 text-white bg-gray-500 border-0 px-8 focus:outline-none hover:bg-red-400 rounded text-lg;
}

.icon-button:before {
  content: attr(data-info);
  position: absolute;
  color: #4a5568;
  color: var(--solid-900);
  font-size: 8px;
  text-transform: uppercase;
  transition: opacity 0.3s;
  text-align: center;
  white-space: nowrap;
  padding: 1 px 4 px;
  background-color: #e2e8f0;
  background-color: var(--base-200);
  border-radius: 4 px;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.navbar-link {
  @apply hover:opacity-100 hover:text-indigo-500 hover:underline hover:decoration-wavy  cursor-pointer;
}
