@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-white text-zinc-900 dark:bg-gray-900 dark:text-neutral-100;
}

h1 {
  font-family: BioRhyme, Arial;
  margin: 30px;
  @apply tracking-wide font-black subpixel-antialiased text-center bg-clip-text text-transparent bg-gradient-to-r from-red-900  via-indigo-500  to-red-700 dark:from-red-200 dark:via-indigo-400 dark:to-red-400;
}

h2 {
  color: white;
}

.event-title {
  cursor: pointer;
  font-weight: 750;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
}

.event-date {
  font-style: italic;
  margin-left: auto;
  margin-right: 5px;
  @apply text-gray-600 dark:text-gray-100;
}

.cancelled-event {
  text-decoration: line-through;
  @apply cursor-not-allowed italic;
}

.code {
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: Jetbrains Mono;
  height: 100%;
  @apply text-gray-800 dark:text-gray-300;
}

#map {
  height: 10px;
  width: 10px;
}

.events-list-row {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  @apply dark:text-zinc-400 cursor-default py-2 px-4 mx-2 my-1 font-semibold rounded-lg shadow-lg hover:bg-slate-100 dark:hover:bg-slate-800 hover:animate-pulse;
}

.btn-success {
  @apply border-2 border-green-200 dark:border-green-900;
}

.btn-danger {
  @apply border-2 border-purple-200 dark:border-purple-900;
}

.btn-warning {
  @apply border-2 border-red-200 dark:border-red-900;
}

.active {
  @apply border-0;
}

.modal {
  @apply cursor-pointer;
}

.eventsList {
  @apply flex-auto	items-stretch content-evenly;
}

.search-input {
  width: 50%;
  @apply cursor-text py-2 px-4 mx-2 my-1 font-semibold rounded-lg shadow-lg focus:outline-none;
}

.calendar-cursor {
  @apply cursor-pointer;
}

.month-name {
  @apply cursor-not-allowed italic;
}
.toggle {
  @apply border-2 border-double border-indigo-600 dark:border-indigo-900;
}
