@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-zinc-50 text-zinc-900 dark:bg-gray-900 dark:text-neutral-50;
  animation-duration: 0.2s;
  animation-name: animatetop;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: blueviolet;
}

::selection {
  color: white;
  background: blueviolet;
}

h1 {
  font-family: BioRhyme, Arial;
  margin: 30px;
  @apply font-black subpixel-antialiased 
  text-transparent bg-gradient-to-tl
  bg-clip-text text-center 
  from-red-900 to-indigo-700 
  dark:from-red-200  dark:to-indigo-200
  hover:from-indigo-900 hover:to-red-500
  dark:hover:from-red-500 dark:hover:to-indigo-500
  hover:bg-gradient-to-l;
}

h2 {
  color: white;
}

input {
  @apply bg-gray-100 dark:bg-gray-800;
}

a.link {
  @apply underline text-blue-700 dark:text-blue-300;
}
a.link:hover {
  @apply text-blue-800 dark:text-blue-600;
}
a.link:visited {
  @apply text-purple-600 dark:text-purple-600;
}

button {
  @apply dark:text-zinc-300 cursor-default py-2 px-4 mx-2 my-1 font-semibold rounded-lg shadow-lg hover:bg-slate-100 dark:hover:bg-indigo-900 hover:shadow-sm;
}

.login {
  @apply text-zinc-50 rounded-lg bg-indigo-400 hover:bg-indigo-50 font-semibold;
}

.event-title {
  cursor: pointer;
  font-weight: 750;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
}

.event-date {
  font-style: italic;
  margin-left: auto;
  margin-right: 5px;
  @apply text-gray-600 dark:text-gray-100;
}

.cancelled-event {
  text-decoration: line-through;
  @apply cursor-not-allowed italic;
}

.code {
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: Jetbrains Mono;
  height: 100%;
  @apply text-gray-800 dark:text-gray-300;
}

#map {
  height: 10px;
  width: 10px;
}

.events-list-row {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  @apply border-0;
}

.modal {
  @apply cursor-pointer;
}

.eventsList {
  @apply flex-auto items-stretch content-evenly;
}

.search-input {
  @apply cursor-text py-2 px-4 mx-2 my-1 font-semibold rounded-lg shadow-lg focus:outline-none;
}

.calendar-cursor {
  @apply cursor-pointer;
}

.month-name {
  @apply cursor-not-allowed italic;
}
.toggle {
  @apply border-2 border border-indigo-500 dark:border-indigo-900;
}

.input-map {
  @apply w-full rounded border border-gray-300 dark:border-gray-900 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 dark:ring-indigo-900 text-base outline-none  py-1 px-3 leading-8;
}

.modal-section {
  position: fixed;
  z-index: 1; /* Sit on top */
  overflow: auto;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  animation-duration: 0.3s;
  animation-name: animatetop;
  padding: 10%;
  @apply top-0 text-zinc-100 rounded-xl border-indigo-800
    border-opacity-60 rounded-lg backdrop-blur-lg backdrop-brightness-50;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-close {
  position: fixed;
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  right: 0;
  top: 0;
}

.container {
  animation-duration: 1s;
  animation-name: animatetop;
}

.modal-container {
  @apply container px-5 py-12 mx-auto flex flex-wrap;
}

.modal-header {
  @apply flex flex-col text-center w-full mb-9;
}

.modal-header-h1 {
  @apply text-2xl mb-1 text-zinc-100;
}

.modal-p {
  @apply lg:w-2/3 mx-auto leading-relaxed text-base text-zinc-100;
}

.modal-full-row {
  @apply flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-center;
}

.modal-label-input {
  @apply relative flex-grow w-full my-5;
}

.modal-label {
  @apply leading-7 text-sm text-zinc-200;
}

.modal-input {
  @apply block w-full px-3 py-4 my-1
  text-base font-normal text-black dark:text-zinc-100 rounded-lg transition
  ease-in-out focus:border-indigo-500 focus:border-2 focus:outline-none dark:bg-gray-700;
}

.modal-save {
  cursor: pointer;
  @apply py-2 flex-auto h-11 text-white dark:text-black bg-indigo-500 border-0 px-8 focus:outline-none hover:bg-green-600 dark:hover:bg-green-600 rounded text-lg;
}

.modal-cancel {
  cursor: pointer;
  @apply py-2 flex-auto h-11 text-white dark:text-black bg-gray-500 border-0 px-8 focus:outline-none hover:bg-red-400 dark:hover:bg-red-400 rounded text-lg;
}

.modal-file-input {
  @apply file:rounded-full file:border-0
  file:text-sm file:font-semibold
  file:bg-violet-50 file:text-violet-700
  hover:file:bg-violet-100;
}

.icon-button:before {
  content: attr(data-info);
  position: absolute;
  color: #4a5568;
  color: var(--solid-900);
  font-size: 8px;
  text-transform: uppercase;
  transition: opacity 0.3s;
  text-align: center;
  white-space: nowrap;
  padding: 1 px 4 px;
  background-color: #e2e8f0;
  background-color: var(--base-200);
  border-radius: 4 px;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.navbar-link {
  @apply hover:opacity-100 hover:text-indigo-500 hover:underline hover:decoration-wavy  cursor-pointer;
}

.lgshadow {
  box-shadow: 20px 20px 50px 30px white;
}

.drkshadow {
  box-shadow: 20px 20px 50px 30px black;
}

.navbar-menu {
  align-items: center;
  position: fixed;
  bottom: 0;
  animation-duration: 1s;
  animation-name: animatebottom;

  @apply backdrop-blur-2xl  
  px-8 py-2 w-full h-20
  grid gap-4 grid-rows-1 grid-cols-6
  backdrop-contrast-100 backdrop-brightness-125 dark:backdrop-brightness-50
  text-zinc-900 dark:text-zinc-100;
}

.subtext {
  @apply truncate text-gray-500;
}

.date-input {
  @apply text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5   dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
